* {
    margin: 0px;
    padding: 0px;

}

/* General */
.body {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;

}
body::-webkit-scrollbar {
    width: 13px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 18px 20px 3px #1d1d1d;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #fe5900;
    border-radius: 10px;
}

.container {
    max-width: 1135px;
    margin: 0px auto;
}
hr {
    border: none;
   border-top: 3px dashed black; 
   color: black;
   overflow: visible;
   text-align: center;
   height: 5px;
   background: #DDDDDD;

}
hr::after{
   content: "***";
   background: #DDDDDD;
   position: relative;
   top: -9px;
   font-size: 23px;

}

/* header */
.header {
    background-color: rgb(29, 29, 29);
    padding: 9px;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.container1 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.brandname {
    color: #fe5900;
}

.navbar a {
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    color: white;

}

.navbar a:hover {
    color: #fe5900;
}

.BUTTONS a {
    text-decoration: none;
    padding: 5px 12px;
    margin: 7px;
    font-size: 18px;
    color: white;
    background-color: #fe5900;
    border-radius: 25px;
}

.BUTTONS a:hover {
    background-color: #1d1d1d;
    border: 2px solid #fe5900;
    color: #fe5900;
}

/* main section one here */
.float-section {
    background-color: #DDDDDD;
    height: 450px;
    padding: 35px 0px;

}

.clearfix::before,
.clearfix::after {
    content: '';
    display: block;
}

.clearfix::after {
    clear: both;
}

.sect-title {
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 20px;


}

.sect-title::first-letter {
    font-size: 200%;
    color: #fe5900;
}

.outerbox {
    float: left;
    width: 332px;
    height: 300px;
    border: 2px solid black;
    padding: 10px;
    margin: 10px auto;
    margin-right: 22px;
    text-align: center;
}

.boxes {
    border: 2px solid black;
    width: 100px;
    height: 80px;
    margin: 0px auto;
    color: white;
    margin-bottom: 10px;
    display: flex;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
}



.bx1 {
    background-color: #1d1d1d;

}

.bx2 {
    background-color: #fe5900;

}

#box2 {
    float: right;
    margin: 0px;
}

#box-left {
    float: left;
}


/* realtive section here */
.p-relative{
    background-color: #DDDDDD;
    height: 800px;
    padding: 35px 0px;
}
#box-a {
    position: relative;
    left: 40px;
    bottom: -20px;
}

#boxA {
    position: absolute;
}

.Scroll {
    overflow: scroll;
}

.Scroll::-webkit-scrollbar {
    width: 13px;
}

.Scroll::-webkit-scrollbar-track {
    box-shadow: inset 18px 20px 3px #1d1d1d;
    border-radius: 10px;
}

.Scroll::-webkit-scrollbar-thumb {
    background: #fe5900;
    border-radius: 10px;
}

.flexx {
    width: 756px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* section flex */
.section-flex{
    background-color: #DDDDDD;
    padding: 20px;

}
.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0px;
    text-align: center;

}
.item {
    width: 178px;
    height: 150px;
    margin: 14px;
    display: flex;
    /* text-align: center; */
    border: 5px solid black;
    justify-content: center;
    align-items: center;
}
.item1 {
    width: 120px;
    height: 120px;
    margin: 14px;
    display: flex;
    /* text-align: center; */
    border: 5px solid black;
    justify-content: center;
    align-items: center;
}

.flexbox1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    text-align: center;


}
.flexbox2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;

}
.flexbox2 .bx3 {
    width: 300px;
}
 
.flexbox3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0px;

}
.footer{
    background-color: #1d1d1d;
    
}
.nav-foot{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.footer .nav-links {
    color: #fe5900;
    font-size: 36px;
    padding: 10px;
}
.footer .nav-links:hover{
    color: white;
    font-size: 40px;
}
.back-to-top-wrapper {
    position: fixed;
    bottom: 12%;
    right: 0px;
}

.back-to-top-link {
    display: inline-block;
    width: 42px;
    height: 31px;
    padding: 3px;
    text-align: center;
    color: #fe5900;
    font-size: 32px;
    line-height: 21px;
    background-color: black;
    border-radius: 20px 0px 0px 20px;
}